<!DOCTYPE html>
<html>
<head>
<title>Heart Disease Prediction</title>
</head>

<body>

<h2>Heart Disease Prediction</h2>

<form action="/predict" method="post">

<input type="number" name="age" placeholder="Age"><br><br>

<input type="number" name="sex" placeholder="Sex"><br><br>

<input type="number" name="cp" placeholder="Chest Pain"><br><br>

<input type="number" name="trestbps" placeholder="Blood Pressure"><br><br>

<input type="number" name="chol" placeholder="Cholesterol"><br><br>

<input type="number" name="fbs" placeholder="FBS"><br><br>

<input type="number" name="restecg" placeholder="Rest ECG"><br><br>

<input type="number" name="thalach" placeholder="Max Heart Rate"><br><br>

<input type="number" name="exang" placeholder="Exercise Angina"><br><br>

<input type="text" name="oldpeak" placeholder="Old Peak"><br><br>

<input type="number" name="slope" placeholder="Slope"><br><br>

<input type="number" name="ca" placeholder="CA"><br><br>

<input type="number" name="thal" placeholder="Thal"><br><br>

<input type="submit" value="Predict">

</form>

</body>
</html>